/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';

.mat-mdc-form-field {
  width: 100%;
}

.loading {
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgb(241 241 241 / 50%);
  padding: 50px;
}
